<div class="wrapper">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <app-breadcrumbs></app-breadcrumbs>

    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">Anything you want</div>
    <!-- Default to the left -->
    <strong
      >Copyright &copy; 2014-2020
      <a href="https://adminlte.io">AdminLTE.io</a>.</strong
    >
    All rights reserved.
  </footer>
</div>
