.color-box {
  width: 40px;
  height: 20px;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.working {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19) inset,
    0 6px 6px rgba(0, 0, 0, 0.23) inset !important;
}
