<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h6>Dark Sidebar Variants</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
          <div
            (click)="changeTheme('sidebar-dark', 'primary')"
            class="bg-primary elevation-3 color-box working"
            data-theme="sidebar-dark-primary"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'warning')"
            class="bg-warning elevation-3 color-box"
            data-theme="sidebar-dark-warning"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'info')"
            class="bg-info elevation-3 color-box"
            data-theme="sidebar-dark-info"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'danger')"
            class="bg-danger elevation-3 color-box"
            data-theme="sidebar-dark-danger"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'success')"
            class="bg-success elevation-3 color-box"
            data-theme="sidebar-dark-success"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'indigo')"
            class="bg-indigo elevation-3 color-box"
            data-theme="sidebar-dark-indigo"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'lightblue')"
            class="bg-lightblue elevation-3 color-box"
            data-theme="sidebar-dark-lightblue"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'navy')"
            class="bg-navy elevation-3 color-box"
            data-theme="sidebar-dark-navy"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'purple')"
            class="bg-purple elevation-3 color-box"
            data-theme="sidebar-dark-purple"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'fuchsia')"
            class="bg-fuchsia elevation-3 color-box"
            data-theme="sidebar-dark-fuchsia"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'pink')"
            class="bg-pink elevation-3 color-box"
            data-theme="sidebar-dark-pink"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'maroon')"
            class="bg-maroon elevation-3 color-box"
            data-theme="sidebar-dark-success"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'orange')"
            class="bg-orange elevation-3 color-box"
            data-theme="sidebar-dark-maroon"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'lime')"
            class="bg-lime elevation-3 color-box"
            data-theme="sidebar-dark-lime"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'teal')"
            class="bg-teal elevation-3 color-box"
            data-theme="sidebar-dark-teal"
          ></div>
          <div
            (click)="changeTheme('sidebar-dark', 'olive')"
            class="bg-olive elevation-3 color-box"
            data-theme="sidebar-dark-olive"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h6>Light Sidebar Variants</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
          <div
            (click)="changeTheme('sidebar-light', 'primary')"
            class="bg-primary elevation-3 color-box"
            data-theme="sidebar-light-olive"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'warning')"
            class="bg-warning elevation-3 color-box"
            data-theme="sidebar-light-warning"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'info')"
            class="bg-info elevation-3 color-box"
            data-theme="sidebar-light-info"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'danger')"
            class="bg-danger elevation-3 color-box"
            data-theme="sidebar-light-danger"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'success')"
            class="bg-success elevation-3 color-box"
            data-theme="sidebar-light-success"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'indigo')"
            class="bg-indigo elevation-3 color-box"
            data-theme="sidebar-light-indigo"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'lightblue')"
            class="bg-lightblue elevation-3 color-box"
            data-theme="sidebar-light-lightblue"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'navy')"
            class="bg-navy elevation-3 color-box"
            data-theme="sidebar-light-navy"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'purple')"
            class="bg-purple elevation-3 color-box"
            data-theme="sidebar-light-purple"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'fuchsia')"
            class="bg-fuchsia elevation-3 color-box"
            data-theme="sidebar-light-fuchsia"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'pink')"
            class="bg-pink elevation-3 color-box"
            data-theme="sidebar-light-pink"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'maroon')"
            class="bg-maroon elevation-3 color-box"
            data-theme="sidebar-light-maroon"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'orange')"
            class="bg-orange elevation-3 color-box"
            data-theme="sidebar-light-orange"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'lime')"
            class="bg-lime elevation-3 color-box"
            data-theme="sidebar-light-lime"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'teal')"
            class="bg-teal elevation-3 color-box"
            data-theme="sidebar-light-teal"
          ></div>
          <div
            (click)="changeTheme('sidebar-light', 'olive')"
            class="bg-olive elevation-3 color-box"
            data-theme="sidebar-light-olive"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
